@charset "UTF-8";
* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #6376a3;
  padding: 15px;
}
.header .logo {
  max-width: 150px;
}
.header .header__nav {
  flex-grow: 1;
  text-align: right;
}
.header .header__nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}
.header .header__nav ul .nav-item {
  margin-left: 20px;
}
.header .header__nav ul .nav-item .nav-link {
  text-decoration: none;
  color: #E9A051;
  font-family: "Roboto Slab", serif;
}
.header .header__nav ul .nav-item:hover {
  color: #FFFFFF;
}
.header .header__nav ul .nav-item .nav-link.active {
  font-weight: bold;
  color: #0f0f0f;
}

.main__index {
  background-color: #122350;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__index .contenido {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.main__index .contenido img {
  max-width: 45%;
  height: auto;
}
.main__index .contenido .textoPrincipal {
  max-width: 50%;
  text-align: left;
  padding: 20px;
  color: #FFFFFF;
  font-family: "Playfair Display", serif;
}
.main__index .contenido .textoPrincipal h1 {
  font-family: "Playfair Display", serif;
  color: #FFFFFF;
  margin: 0;
  font-size: 40px;
}

.main__quienesSomos {
  background-color: #122350;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main__quienesSomos img {
  max-width: 100%;
  height: auto;
  width: 60%;
  padding: 3%;
}
.main__quienesSomos .main__text {
  width: 80%; /* Ajusta el ancho del texto */
  margin-top: 20px; /* Añade espacio entre la imagen y el texto */
  text-align: center;
}
.main__quienesSomos .main__text h2 {
  color: #E9A051;
  text-align: center;
  font-size: 2rem;
}
.main__quienesSomos .main__text p {
  color: #FFFFFF;
  max-width: 100%;
  text-align: center;
  font-size: 130%;
}

.contacto {
  background-color: #FFFFFF;
  font-family: "Roboto Slab", serif;
}
.contacto h2 {
  color: #E9A051;
  text-align: center;
  font-family: "Playfair Display", serif;
}
.contacto p {
  text-align: center;
}
.contacto form {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #FFFFFF;
}
.contacto form div {
  margin-bottom: 15px;
}
.contacto form div label {
  display: block;
  margin-bottom: 10px;
}
.contacto form div textarea {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}
.contacto form div button {
  padding: 10px 35px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.main__casos {
  background-color: #122350;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__casos .video {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 30px;
  column-gap: 20px;
}
.main__casos .video iframe {
  border: 5px solid #E9A051;
}

footer {
  background-color: #6376a3;
  padding: 20px;
  text-align: center;
  color: #FFFFFF;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: center;
  font-weight: bold;
}
footer .footer__left, footer .footer__right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer__left .redes a img, footer .footer__right .redes a img {
  width: 35px;
  height: 35px;
  margin: 12px;
}
footer .footer__bottom {
  grid-column: span 2;
  text-align: center;
  margin-top: 10px;
  font-weight: normal;
}

section {
  background-color: #122350;
  padding: 20px;
  font-family: "Roboto Slab", serif;
}
section .especialidadesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
section .especialidadesContainer .especialidadesAreas {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #E9A051;
  height: 100%;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  color: #FFFFFF;
  background-color: #122350;
}
section .especialidadesContainer img {
  max-width: 70px;
  height: auto;
  display: block;
  margin: 0 auto 20px auto;
}
section .especialidadesContainer div ul {
  padding-left: 20px;
  list-style-position: inside;
  width: 100%;
}

.main__carousel {
  background-color: #122350;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__carousel .carousel-inner .carousel-item active {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px; /* Ajusta según sea necesario */
}
.main__carousel .carousel-inner .carousel-item active img {
  max-width: 100%;
  height: auto;
}
.main__carousel .carousel-inner .carousel-item active .row {
  width: 150%;
}
.main__carousel .carousel-inner .carousel-item active .carousel-caption {
  text-align: center;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 5px;
  width: 70%;
}
.main__carousel .carousel-inner .carousel-item active .carousel-caption h5 {
  font-size: 20px;
  font-weight: bold;
}
.main__carousel .carousel-inner .carousel-item active .carousel-caption p {
  font-size: 15px;
}

/* Media Queries */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    gap: 10px;
    align-items: start; /* Alineamos los items a la izuiqeda */
  }
  .video {
    grid-template-columns: 1fr;
  }
  footer {
    grid-template-columns: 1fr;
  }
  .footer__bottom {
    grid-column: 1;
  }
  /* Le añadimos un div al logo para poder centrarlo cuando esta responsive */
  .container-logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  /* Alineamos el header en colum y ajustamos los item a la izuiqeda */
  .header {
    flex-direction: column;
    align-items: start;
  }
  .video iframe {
    width: 100%;
  }
  .footer__right iframe {
    width: 100%;
  }
  /* Carousel mobile */
  .carousel-caption p {
    display: none;
  }
  /* Ajustes para especialidadesContainer */
  .especialidadesContainer {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }
  .especialidadesAreas {
    width: 100%; /* Asegura que cada especialidad ocupe todo el ancho disponible */
    margin-bottom: 20px; /* Espaciado entre los recuadros */
    padding: 10px;
  }
  .especialidadesImage {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
  }
  .main__quienesSomos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .main__quienesSomos img {
    order: 1; /* Imagen primero */
    width: 100%;
  }
  .main__quienesSomos .main__text {
    order: 2; /* Contenedor del h2 y el párrafo */
  }
  .main__quienesSomos .main__text h2 {
    order: 1; /* h2 primero */
  }
  .main__quienesSomos .main__text p {
    order: 2; /* Párrafo segundo */
  }
}
@media (max-width: 576px) {
  .contenido {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
