@charset "UTF-8";
* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", serif;
  overflow-x: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #6376a3;
  padding: 15px;
}
.header img {
  max-width: 200px;
}
.header .header__nav {
  flex-grow: 1;
  text-align: right;
}
.header .header__nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}
.header .header__nav ul .nav-item {
  margin-left: 20px;
}
.header .header__nav ul .nav-item .nav-link {
  text-decoration: none;
  color: #E9A051;
  font-family: "Roboto Slab", serif;
}
.header .header__nav ul .nav-item:hover {
  color: #FFFFFF;
}
.header .header__nav ul .nav-item .nav-link.active {
  font-weight: bold;
  color: #0f0f0f;
}

footer {
  background-color: #16316e;
  padding: 20px;
  text-align: center;
  color: #FFFFFF;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: center;
  font-weight: bold;
}
footer .footer__left, footer .footer__right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer__left .redes a img, footer .footer__right .redes a img {
  width: 35px;
  height: 35px;
  margin: 12px;
}
footer .footer__bottom {
  grid-column: span 2;
  text-align: center;
  margin-top: 10px;
  font-weight: normal;
}

.main__index {
  background-color: #6376a3;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__index .contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}
.main__index .contenido h1 {
  font-size: 70px;
  color: #FFFFFF;
  font-family: "Roboto Slab", serif;
  margin: 0;
  text-align: center;
  z-index: 2;
  position: absolute;
  top: 20%;
  left: 40%;
  transform: translate(-50%, -50%);
  padding: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
.main__index .contenido h5 {
  font-size: 30px;
  color: #E9A051;
  font-family: "Roboto Slab", serif;
  margin: 0;
  text-align: center;
  z-index: 2;
  position: absolute;
  top: 30%;
  left: 70%;
  transform: translate(-50%, -50%);
  padding: 10px;
  text-shadow: 2px 2px 4px rgba(5, 4, 4, 0.6);
}
.main__index .contenido img {
  width: 100vw;
  height: auto;
  object-fit: cover;
  max-height: 70vh;
  margin: 0;
}
.main__index .contenido .textoPrincipal {
  max-width: 70%;
  text-align: center;
  padding: 20px;
  color: #FFFFFF;
  font-family: "Roboto Slab", serif;
}
.main__index .contenido .textoPrincipal p {
  font-size: 20px;
  line-height: 1.6;
  margin: 0;
  text-align: center;
}

.mainPreguntas {
  background-color: #6376a3;
}
.mainPreguntas .preguntasSection {
  height: 35vh;
  position: relative;
  width: 100%;
}
.mainPreguntas .preguntasSection img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.mainPreguntas .preguntasSection .preguntasTitulo {
  bottom: 0;
  color: #FFFFFF;
  font-size: 2.75rem;
  font-weight: 700;
  left: 0;
  letter-spacing: 0.15rem;
  line-height: 1.5;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 1;
  font-family: "Roboto Slab", serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
.mainPreguntas .accordion {
  margin: 20px auto;
  max-width: 90%;
  background-color: #f0f0f0;
  border: 1px solid #c5c1c1;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-family: "Roboto Slab", serif;
}
.mainPreguntas .accordion-item {
  background-color: #f0f0f0;
  border: none;
}
.mainPreguntas .accordion-button {
  background-color: #e9e9e9;
  color: #333;
  border: none;
}
.mainPreguntas .accordion-body {
  background-color: #f0f0f0;
  color: #333;
  font-family: "Roboto Slab", serif;
}

.contactoSection {
  height: 35vh;
  position: relative;
  width: 100%;
  background-color: #6376a3;
}
.contactoSection img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.contactoSection .contactoTitulo {
  bottom: 0;
  color: #FFFFFF;
  font-size: 2.75rem;
  font-weight: 700;
  left: 0;
  letter-spacing: 0.15rem;
  line-height: 1.5;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 1;
  font-family: "Roboto Slab", serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.contacto {
  background-color: #6376a3;
  font-family: "Roboto Slab", serif;
}
.contacto p {
  text-align: center;
  color: #FFFFFF;
  font-size: 1.2em;
}
.contacto form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #6376a3;
}
.contacto form div {
  margin-bottom: 10px;
}
.contacto form div label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.3rem;
  color: #FFFFFF;
}
.contacto form div textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  font-family: "Roboto Slab", serif;
}
.contacto form div input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  font-family: "Roboto Slab", serif;
}
.contacto form div button {
  padding: 10px 35px;
  background-color: #333;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1em;
}

.sectionEquipo {
  margin: 0;
  padding: 0;
}
.sectionEquipo .equipoSection {
  height: 35vh;
  position: relative;
  width: 100%;
  background-color: #6376a3;
}
.sectionEquipo .equipoSection img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.sectionEquipo .equipoSection .equipoTitulo {
  bottom: 0;
  color: #FFFFFF;
  font-size: 2.75rem;
  font-weight: 700;
  left: 0;
  letter-spacing: 0.15rem;
  line-height: 1.5;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 1;
  font-family: "Roboto Slab", serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.main__equipo {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
  background-color: #6376a3;
}
.main__equipo .equipo-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  max-width: 100%;
}
.main__equipo .equipo-item .equipo-img {
  flex: 1;
  min-width: 250px;
}
.main__equipo .equipo-item .equipo-img img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.main__equipo .equipo-item .equipo-texto {
  flex: 2;
}
.main__equipo .equipo-item .equipo-texto h3 {
  font-size: 50px;
  color: #E9A051;
  margin-bottom: 10px;
  text-align: center;
  font-family: "Playfair Display", serif;
}
.main__equipo .equipo-item .equipo-texto p {
  font-size: 20px;
  line-height: 1.5;
  color: #FFFFFF;
  text-align: justify;
}

.main__casos {
  background-color: #6376a3;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}
.main__casos .areasSection {
  height: 35vh;
  position: relative;
  width: 100%;
  background-color: #6376a3;
  margin-bottom: 20px;
}
.main__casos .areasSection img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.main__casos .areasSection .areasTitulo {
  bottom: 0;
  color: #FFFFFF;
  font-size: 2.75rem;
  font-weight: 700;
  left: 0;
  letter-spacing: 0.15rem;
  line-height: 1.5;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 1;
  font-family: "Roboto Slab", serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
.main__casos .video {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 30px;
  column-gap: 20px;
}
.main__casos .video iframe {
  border: 5px solid #E9A051;
}
.main__casos .areasSection {
  height: 35vh;
  position: relative;
  width: 100%;
  background-color: #6376a3;
}
.main__casos .areasSection img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

section {
  background-color: #6376a3;
  padding: 20px;
  font-family: "Roboto Slab", serif;
}
section .especialidadesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
section .especialidadesContainer .especialidadesAreas {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #E9A051;
  height: 100%;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  color: #FFFFFF;
  background-color: #6376a3;
}
section .especialidadesContainer img {
  max-width: 70px;
  height: auto;
  display: block;
  margin: 0 auto 20px auto;
}
section .especialidadesContainer div ul {
  padding-left: 20px;
  list-style-position: inside;
  width: 100%;
}

/* Media Queries */
@media (max-width: 768px) {
  /* Header */
  .header {
    flex-direction: column;
    align-items: start;
  }
  .header .container-logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header .header__nav ul {
    flex-direction: column;
    gap: 10px;
    align-items: start; /* Alineamos los items a la izuiqeda */
  }
  /* Footer */
  footer {
    grid-template-columns: 1fr;
  }
  footer .footer__right iframe {
    width: 100%;
  }
  footer .footer__bottom {
    grid-column: 1;
  }
  .main__index .contenido {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .main__index .contenido .textoPrincipal {
    max-width: 80%;
    padding: 10px;
    text-align: left;
  }
  .main__index .contenido .textoPrincipal h1 {
    font-size: 40px;
    margin: 10px 0;
  }
  .main__index .contenido .textoPrincipal p {
    font-size: 14px;
    margin: 0;
    text-align: left;
    width: 100%;
  }
  .main__index .contenido img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }
  .main__casos .video {
    grid-template-columns: 1fr;
  }
  .main__casos .video iframe {
    width: 100%;
  }
  .contacto {
    padding: 20px;
  }
  .contacto h2 {
    font-size: 24px;
    text-align: center;
  }
  .contacto p {
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
  }
  .contacto form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }
  .contacto form div {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .contacto form div label {
    font-size: 16px;
  }
  .contacto form div input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .contacto form div textarea {
    resize: vertical;
  }
  .contacto form div button {
    align-self: center;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  section .especialidadesContainer {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }
  section .especialidadesContainer .especialidadesAreas {
    width: 100%; /* Asegura que cada especialidad ocupe todo el ancho disponible */
    margin-bottom: 20px; /* Espaciado entre los recuadros */
    padding: 10px;
  }
  section .especialidadesContainer .especialidadesAreas .especialidadesImage {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
  }
  .main__quienesSomos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .main__quienesSomos img {
    order: 1; /* Imagen primero */
    width: 100%;
  }
  .main__quienesSomos .main__text {
    order: 2; /* Contenedor del h2 y el párrafo */
  }
  .main__quienesSomos .main__text h2 {
    order: 1; /* h2 primero */
  }
  .main__quienesSomos .main__text p {
    order: 2; /* Párrafo segundo */
  }
  .sectionEquipo .equipoSection {
    height: auto;
    padding: 10px;
  }
  .sectionEquipo .equipoSection .equipoTitulo {
    font-size: 1.5rem;
    top: 10%;
  }
  .main__equipo {
    gap: 20px;
    padding: 10px;
  }
  .main__equipo .equipo-item {
    flex-direction: column;
    align-items: flex-start;
  }
  .main__equipo .equipo-item .equipo-img {
    width: 100%;
    min-width: auto;
  }
  .main__equipo .equipo-item .equipo-texto h3 {
    font-size: 30px;
    text-align: left;
  }
  .main__equipo .equipo-item .equipo-texto p {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .contenido {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
