.mainPreguntas {
  background-color: $lila;
  margin-bottom: 0;
  padding-bottom: 0;

  .preguntasSection {
    height: 35vh;
    position: relative;
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }

    .preguntasTitulo {
      @include titulo-container();
    }
  }

  .accordion {
    margin: 20px auto;
    max-width: 90%;
    background-color: #f0f0f0;
    border: 1px solid #c5c1c1;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-family: $roboto;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .accordion-item {
    background-color: #f0f0f0;
    border: none;
  }

  .accordion-button {
    background-color: #e9e9e9;
    color: #333;
    border: none;
  }

  .accordion-body {
    background-color: #f0f0f0;
    color: #333;
    font-family: $roboto;
  }
}

.sectionPreguntasContacto {
  p {
    font-size: $roboto;
    color: $dorado;
    justify-content: center;
    text-align: center;
    font-size: 23px;
    margin-top: 20px;
    a {
      color: $blanco;
    }
  }
}
