.sectionEquipo{
    margin: 0;
    padding: 0;
    
    .equipoSection{
        height: 35vh;
        position: relative;
        width: 100%;
        
        background-color: $lila;
        img{
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
        .equipoTitulo{
            bottom: 0;
            color: $blanco;
            font-size: 2.75rem;
            font-weight: 700;
            left: 0;
            letter-spacing: .15rem;
            line-height: 1.5;
            margin: auto;
            position: absolute;
            right: 0;
            text-align: center;
            text-transform: uppercase;
            top: 0;
            align-items: center;
            justify-content: center;
            display: flex;
            z-index: 1; // Asegura que el título esté sobre la imagen
            font-family: $roboto;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);    
        }
    }
}



.main__equipo {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
    background-color: $lila;
    

    .equipo-item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
        max-width: 100%; // Asegura que no se expanda más allá del viewport


        .equipo-img {
            flex: 1;
            min-width: 250px;

            img {
                width: 100%;
                height: auto;
                border-radius: 8px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }
        }

        .equipo-texto {
            flex: 2;
            h3 {
                font-size: 50px;
                color:$dorado;
                margin-bottom: 10px;
                text-align: center;
                font-family: $playfair;
            }

            p {
                font-size: 20px;
                line-height: 1.5;
                color: $blanco;
                text-align: justify;
            }
        }
    }
}
