.main__carousel{
    @include centered-container();
    .carousel-inner{
        .carousel-item.active{
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100px; /* Ajusta según sea necesario */
            img{
                max-width: 100%;
                height: auto;
            }
            .row{
                width: 150%;
            }
            .carousel-caption{
                text-align: center;
                color: $blanco;
                background: rgba(0, 0, 0, 0.5);     
                padding: 20px;
                border-radius: 5px;
                width: 70%;
                h5{
                    font-size: 20px;
                    font-weight: bold;
                }
                p{
                    font-size: 15px;
                }
            }
        }
    }
}