.main__quienesSomos{
        @include centered-container();
        flex-direction: column;
        img{
                max-width: 100%;
                height: auto;
                width: 60%;
                padding: 3%;
        }
        .main__text{
            width: 80%; /* Ajusta el ancho del texto */
            margin-top: 20px; /* Añade espacio entre la imagen y el texto */
            text-align: center;
    
            h2{
                    color: $dorado;
                    text-align: center;
                    font-size: 2rem;
            }
            p{
                    color: #FFFFFF;
                    max-width: 100%;
                    text-align:center;
                    font-size: 130%;
            }
        }
    }