.main__casos{
    @include centered-container();
    display: flex;
    flex-direction: column; // Alinea los elementos en una columna
    align-items: center; // Centra horizontalmente el contenido
    padding: 0px; // Agrega un poco de espacio alrededor del contenido

    .areasSection{
        height: 35vh;
        position: relative;
        width: 100%;
        background-color: #6376a3;
        margin-bottom: 20px; // Espacio entre la sección de imagen/texto y los videos

    
        img{
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
    
        .areasTitulo{
            bottom: 0;
            color: $blanco;
            font-size: 2.75rem;
            font-weight: 700;
            left: 0;
            letter-spacing: .15rem;
            line-height: 1.5;
            margin: auto;
            position: absolute;
            right: 0;
            text-align: center;
            text-transform: uppercase;
            top: 0;
            align-items: center;
            justify-content: center;
            display: flex;
            z-index: 1; // Asegura que el título esté sobre la imagen
            font-family: $roboto;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
        }
    
    }

    .video{
        display: grid;
        padding: 20px;
        grid-template-columns:repeat(2, 1fr);
        row-gap: 30px;
        column-gap: 20px;
        iframe{
            border: 5px solid $dorado;
        }
    }

    .areasSection{
        height: 35vh;
        position: relative;
        width: 100%;
        background-color: #6376a3;
    
        img{
            height: 100%;
            object-fit: cover;
            width: 100%;
        }


    }
}