@import "var";
@import "body";
@import "header";


main{
    background-color: #122350;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    .contenido{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        img{
            max-width: 45%;
            height: auto;
        }
        .textoPrincipal{
            max-width: 50%;
            text-align: left;
            padding: 20px;
            color: $blanco;
            font-family: $playfair;
            h1{
                font-family: $playfair;
                color: $blanco;
                margin: 0;
                font-size: 40px;  
            }
        }
    }
    .main__quienesSomos{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        img{
            max-width: 100%;
            height: auto;
            width: 50%;
            padding: 3%;
        }
        .main__text{
            h2{
                color: $dorado;
                text-align: center;
            }
            p{
                color: #FFFFFF;
                max-width: 100%;
                text-align:justify
            }
        }
    }
    .contacto{
        background-color: $blanco;
        font-family: $roboto;
        
        h2{
            color: $dorado;
            text-align: center;
            font-family: $playfair;
        }
        p{
            text-align: center;
        }
        form{
            max-width: 600px;
            margin: 30px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            background-color: $blanco;
            div{
                margin-bottom: 15px;
                label{
                    display: block;
                    margin-bottom: 10px;
                }
                textarea{
                    width: calc(100% - 22px);
                    padding: 10px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    font-size: 1em;
                }
                button{
                    padding: 10px 35px;
                    background-color: #333;
                    color: white;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                }
            }
        }
    }
    .video{
        display: grid;
        padding: 20px;
        grid-template-columns:repeat(2, 1fr);
        row-gap: 30px;
        column-gap: 20px;
        iframe{
            border: 5px solid $dorado;
        }
    }
}

footer{
    background-color: #6376a3;
    padding: 20px;
    text-align: center;
    color: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
    font-weight: bold;
    .footer__left{
        display: flex;
        flex-direction: column;
        align-items:center;
        .redes{
            a{
                img{
                    width: 35px; 
                    height: 35px; 
                    margin: 12px;
                }
            }
        }
    }
    .footer__right{
        @extend .footer__left;
    }
    .footer__bottom{
        grid-column: span 2;
        text-align: center;
        margin-top: 10px;
        font-weight: normal;
    }
}

section{
    background-color: #122350;
    padding: 20px;
    font-family: $roboto;
    .especialidadesContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        .especialidadesAreas{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 2px solid $dorado;
            height: 100%;
            box-sizing: border-box;
            flex-direction: column;
            justify-content: space-between;
            padding: 20px;
            color: $blanco;
            background-color: #122350;
        }
        img{
            max-width: 70px; 
            height: auto; 
            display: block; 
            margin: 0 auto 20px auto;
        }
        div{
            ul{
                padding-left: 20px;
                list-style-position: inside;
                width: 100%;
            }
        }
    }
}

.main__carousel{
    .carousel-inner{
        .carousel-item active{
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100px; /* Ajusta según sea necesario */
            img{
                max-width: 100%;
                height: auto;
            }
            .row{
                width: 150%;
            }
            .carousel-caption{
                text-align: center;
                color: #ffffff;
                background: rgba(0, 0, 0, 0.5);     
                padding: 20px;
                border-radius: 5px;
                width: 70%;
                h5{
                    font-size: 20px;
                    font-weight: bold;
                }
                p{
                    font-size: 15px;
                }
            }
        }
    }
}

/* Media Queries */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        gap: 10px;
        align-items: start; /* Alineamos los items a la izuiqeda */
    }

    .video {
        grid-template-columns: 1fr;
    }

    footer {
        grid-template-columns: 1fr;
    }

    .footer__bottom {
        grid-column: 1;
    }
    /* Le añadimos un div al logo para poder centrarlo cuando esta responsive */
    .container-logo{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    /* Alineamos el header en colum y ajustamos los item a la izuiqeda */
    .header{
        flex-direction: column;
        align-items: start;
    }
    .video iframe{
        width: 100%;
    }
    .footer__right iframe{
        width:100%;
    }

     /* Carousel mobile */
    .carousel-caption p {
        display: none;
    }

    /* Ajustes para especialidadesContainer */
    .especialidadesContainer {
        display: flex;
        flex-direction: column; 
    }

    .especialidadesAreas {
        width: 100%; /* Asegura que cada especialidad ocupe todo el ancho disponible */
        margin-bottom: 20px; /* Espaciado entre los recuadros */
    }
}


@media (max-width: 576px) {
   .contenido{
    flex-direction: column;
    }
}
